/*about page*/
.about{
background-color: darkviolet;
color: white;
font-family: monospace;	
font-size: 25px;
margin-top: -55px;
}

.about_heading{
text-align: center;
font-size: 85px;
background-color: indigo;
margin-right: -20px;
margin-left: -8px;
margin-bottom: -5px;
}

.about_footer{
text-align: center;	
}

nav{
font-size: 35px;
text-align: center;
margin-bottom: -20px;
}

.aboutdes{
margin-top: 35px;
}

.d{
font-size: 20px;	
}

div{
text-align: center;	
}

.logo{
float: left;
margin-top: -219px;
padding-top: 95px;
margin-left: -10px;
}

footer{
text-align: center;	
}

/* unvisited link */
a:link{
color: cyan;
}

/* visited link */
a:visited{
color: lime;
}

/* mouse over link */
a:hover{
color: magenta;
}

/* selected link */
a:active{
color: lime;
}

/*history_of_smartphones page*/

.history_of_smartphones{
background-color: darkviolet;
color: white;
font-family: monospace;	
font-size: 25px;
margin-top: -55px;
}

.history_header{
text-align: center;
background-color: indigo;
font-size: 85px;
margin-right: -20px;
margin-left: -8px;
margin-bottom: -5px;
}

.history_of_description{
font-size: 25px;	
margin-top: 35px;
}

.tablediv{	
margin-left: auto;
margin-right: auto;
font-size: 25px;
}

.c{
text-align: center;
}

.iphone_history{
text-align: center;
font-size: 35px;
}

.samsung_history{
text-align: center;
font-size: 35px;
}

.history_of_smartphones{
font-size: 35px;	
}

table {
margin-left: auto;
margin-right: auto;
border: solid;
}

td {
border: solid;	
}

h2{
text-align: center;
font-size: 35px;
}

/*how to use a smartphone page*/

.how_to_use_a_smartphone{
background-color: darkviolet;
color: white;
font-family: monospace;	
font-size: 25px;
margin-top: -55px;
}

.history{
text-align: center;	
}

/*.samsung3 {
margin-bottom: 45px;	
}*/

.usesmartphone {
text-align: center;	
font-size: 85px;
background-color: indigo;	
margin-right: -20px;
margin-left: -8px;
}

.use_smatphone_description {
text-align: center;	
font-size: 30px;
}

.videos {
width: 450px;
height: 300px;
margin: 0 auto;
/*display: block;*/
border-style: solid;
border-color: cyan;
}

iframe {
width: 450px;
height: 300px;
margin: 0 auto;
display: block;
border-style: solid;
border-color: cyan;
}

.proscons {
width: 450px;
height: 800px;
margin: 0 auto;
display: block;
border-style:none;
}

/*pros and cons*/

.pros_and_cons{
background-color: darkviolet;
color: white;
font-family: monospace;	
font-size: 25px;
margin-top: -55px;
}

.prosconshead {
text-align: center;
background-color: indigo;	
font-size: 85px;
margin-right: -20px;
margin-left: -8px;
}

.prosconsnav {
margin-bottom: -20px;	
}

.videos1 {
width: 450px;
height: 300px;
margin: 0 auto;
/*display: block;*/
border-style: solid;
border-color: cyan;	
}

/*contact me page*/

.contact_me {
background-color: darkviolet;
color: white;
font-family: monospace;	
font-size: 25px;
margin-top: -55px;
}

.contact_header {
text-align: center;
background-color: indigo;
font-size: 85px;
margin-right: -20px;
margin-left: -8px;
}

.cs {
text-align: center;
}

textarea {
margin-bottom: -40px;	
}

.thankyou {
margin-top: -20px;	
}

.form_procses {
text-align: center;
font-size: 25px;	
}

.submit{
text-align: center;	
}

.cl{
text-align: right;
border: none;
}

.cb {
border: none;	
}